* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #777777;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/*ABOUT*/

.main{
 padding-left: 0;
 padding-right: 0;
} 

.logo-img{
margin-top: 100px;

padding-left: 12px;
}
.track-form{
width: 100%;
padding-bottom: 30px;
margin-top: 30px;
}
.logo-txt{
color:#1E1724;
font-weight: 600;
margin-top: 150px;


}
.btn-primary {
background-color:#2639A2 !important;
border: none;
border-radius: 1px;
height: 38px;
}
a[type="button"]:hover {
background-color:#f2f2f2 !important;
color:#2639A2 !important;
}

/*FEATURES*/

.feature-text{
color:#1E1724;
font-weight: 600;
margin-top: 50px;
margin-bottom: 40px;
}
.clear-audio-img{
  margin: auto;
  text-align: center;
  display: block;
}
.clear-audio-text{
color:#1E1724;
font-weight: 600;
}
.clear-audio-subtext{
margin-bottom: 40px;
}
.apple-watch-img{
    margin: auto;
    text-align: center;
    display: block;
}
.apple-watch-text{
color:#1E1724;
font-weight: 600;
}

/*HOW IT WORKS*/

.app-works{
background-color: #f2f2f2;
margin-top: 30px;
margin-bottom: 40px;
}
.work-text{
padding-top: 40px;
color:#1E1724;
font-weight: 600;
}
.work-ana{
  margin-right: 0px;
  text-align: center;
}
.work-logo-img{
margin-top: 70px;
/* margin-left: 30px; */
}
.record-text{
color:#1E1724;
font-size: 25px;

}
.record-subtext{
padding-bottom: 20px;
font-size: 15px;
}
.transcribe-text{
color:#1E1724;
font-size: 25px;

}
.transcribe-subtext{
padding-bottom: 20px;
font-size: 15px;
}
.analyse-text{
color:#1E1724;
font-size: 25px;
}
.analyse-subtext{
padding-bottom: 20px;
font-size: 15px;
}
.data-text{
color:#1E1724;
font-size: 25px;
}     
.data-subtext{
padding-bottom: 50px;
font-size: 15px;
}
/*GALLERY*/
.gallery-app{
  margin-top: 40px;
}
.gallery{
margin: 10px 0;
display: flex;
justify-content: center;
}
.gallery img:hover{
   transform: scale(1.1);
  cursor: pointer;
}
/*FOOTER*/

.footer{
background-color: #2639A2; 
margin-top: 40px; 
width: 100%;
margin-left: 0;
margin-right: 0;
}
.subscribe-foot{
margin: 0 0;
}
.sub-foot{
margin: 0 auto;
}
.subscribe-text{
padding: 40px 0;
font-weight: 600;
font-size: 26px;
}
.subscribe-paragraph{
font-size: 12px;
color:rgba(255, 255, 255, 0.7);
margin-top: -40px;
padding-bottom: 20px;
}

.form{
width: 100%;
max-width: 380px;
margin: 0 auto;
padding-bottom: 30px;
}

@media

btn-hover{
width: 400px;
margin:0 auto;
background-color:#f2f2f2 !important;
color:#f2f2f2 !important;
margin-bottom: 30px;
}
.sub-btn{
background-color:#9533C2 !important;
color: #f2f2f2 !important;
height: 38px;
border: none;
}
a[type="buttonn"]:hover {
background-color:#9533C2 !important;
color:#f2f2f2 !important;
}
.footer-text{
font-weight: 600;
font-size: 18px;
display: inline;
}
.copyright{
justify-content: flex-end;
display: flex;
} 
.copyright-sub{
font-size: 12px ;
display: inline;
}

@media screen and (max-width: 1196px){
.track-form{
  width: 300px;
}
}
@media screen and (max-width: 360px){
.work-logo-img{
    display: none;
}
}
@media screen and (max-width: 982px){
  .transcribe-subtext{
     font-size: 15px;
  }
}  

@media screen and (min-width: 900px){
  .form, .track-form{
    width: 380px;
  }
}  

.row{
  margin-left:  0 !important;
  margin-right:  0 !important;
}
